/*
Opening Statement -. Thanks to Rafael Morais (https://rafael.no/blog/implementing-dark-mode-without-javascript/ https://codepen.io/rafaelsnts/pen/BEzZoX) for the reference implementation for javascript-free lightmode/darkmode which this is derived in part from. Even if javascript actually is being used in the website in the end.
*/

/*
Mode Selector Styling - This section defines the aesthetic qualities of the checkbox which toggles lightmode and darkmode - the fact that it is only visible as text, and the fact that the color of the text changes depending on the current mode.
*/

#lightordark{
  visibility: hidden;
}

.modeselect{
  cursor: pointer;
  color: #D3D3D3;
  font-weight: bold;
  display: inline-block;
  padding-right: 2em;
  font-size: 0.8em;
}

.modeselect:hover{
  color: #000000;
}

#lightordark:checked ~ .modeselect{
  color: #FFFF00;
}

#lightordark:checked ~ .modeselect:hover{
  color: #FFFFFF;
}

/*
 Color Variations - This section establishes the manner in which the content of the page at large is altered when the checkbox is ticked defining the variables for the implementation as well as the conditions under which they change and what they influence.
 */

.pagecontent{
  --backgroundchroma: #FFFFFF;
  --textchroma: #000000;
  background-color: var(--backgroundchroma);
  color: var(--textchroma);
}

#lightordark:checked ~ .pagecontent{
  --backgroundchroma: #000000;
  --textchroma: #FFFFFF;
}

/*
Fixed Elements This section determines all characteristics of the page not altered by or involved in the lightmode/darkmode selection. All fixed elements of the website live here.
*/

#labcontent {
  position: relative;
  height: auto;
  margin: 0em;
  font-family: 'Arial', sans-serif;
  font-weight: 200
}

.headerbar{
  background-color: #2C2F33;
  margin-top: 0em;
  padding-top: 0.5em;
}

.headerbar h2{
  display: inline-block;
  color: #F6F6F6;
  font-size: 1.3em;
  padding-right: 1em;
  text-align: center;
}

.headerbar .pagecontent{
  padding-top: 0.5em;
}

#disclaimer{
  background-color: maroon;
  margin-bottom: 0em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.pagecontent h3{
  text-align: center;
  font-size: 1em;
  color: var(--textchroma);
}

#disclaimer h3{
  color: #F6F6F6;
}

.headerbar .pagecontent p{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.9em
  font-weight: bold;
  text-align: left;
}

.pagecontent p.license{
  text-align: center;
  font-size: 0.5em;
}

#disclaimer p{
  color: #F6F6F6;
}

.pagecontent img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.headerbar button{
  background-color: #808080;
  border: none;
  color: blue;
  padding: 0.5em 0.5em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  border-radius: 50%;
  cursor:pointer;
}

.headerbar button.disabled{
  opacity:0.5;
  cursor: not-allowed;
  background-color: #708090;
  color: #800080;
}

.pagecontent a:link{
  color: #FF4500;
}

.pagecontent a:visited{
  color: #808080;
}

.pagecontent a:hover{
  color: #FF0000;
}

.pagecontent a:active{
  color: #8B0000;
}
